.backg{
  background-image: url("../res/signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
@media only screen and (max-width:768px){
  #button600{
    visibility: visible;
    margin-top: 20px
  }
}
